.div1{
	background-color: #fe3535a8;
	font-size: 30px;
}
.h11{ 
	background-color: rgb(0, 255, 26);

}
.img {
    background-color: #aaa;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

table {
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}

