.header {
	height: 15vh;
	background-color: rgba(135, 95, 185, 0.9);
	margin-top: 10px;
	border-radius: 10px;
	text-align: center;
	padding: 45px;
}

.card .card-header {
	background-color: #fed13699;
	transition: 0.2s;
}

.card .card-header:hover {
	background-color: #fed140;
	transition: 0.2s;
}

.img {
	background-color: #aaa;
	padding: 20px;
	background-size: cover;
	background-position: center;
	width: 75%;
}

.card .card-body .card-body__header:hover {
	color: red;
	transition: 0.2s;
}
body{
	background-color: rgba(175, 135, 225, 0.9);
}

i {
	font-size: 30px !important;
	padding-right: 15px;
	color: black	
}
li{
	font-size: 25px;
	text-align: center;
}

a {
	text-decoration: none !important;
	color: black;
}
iframe{
	margin-left: 25%;
}